@using Microsoft.AspNetCore.Http
@using Linker.Mvc.Models
@using System.Security.Claims
@model Linker.Mvc.Models.WorkspaceDetailsViewModel
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Workspace details";
    var memberCount = Model.Members.Count();
    var httpContext = httpContextAccessor.HttpContext;
    var isLoggedIn = httpContext?.User.Identity?.IsAuthenticated ?? false;
    var userId = httpContext?.User.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? string.Empty;
}

<partial name="_Notification" />

<article class="mb-10" id="@Html.DisplayFor(model => model.WorkspaceId)">
    <header class="mb-2">
        <p class="uppercase tracking-wide font-bold text-sm text-gray-300">
            @@@Html.DisplayFor(model => model.WorkspaceHandle)
        </p>

        <h1 class="text-2xl font-bold block">
            @Html.DisplayFor(model => model.WorkspaceName)
        </h1>
    </header>
    <div class="flex gap-4 items-center">
        <div><i class="bi bi-people-fill"></i> @memberCount</div>
        <div><span class="text-xs text-gray-500">Created by</span> @Model.WorkspaceOwnerUsername</div>
        <div><button title="Add members"><i class="bi bi-person-plus-fill"></i></button></div>
    </div>
    <div class="mb-10">
        <p class="text-gray-700">@Html.DisplayFor(model => model.WorkspaceDescription)</p>
    </div>

    <section class="flex gap-4 mb-5">
        <div class="border border-solid border-black rounded flex-1">
            <p class="text-center underline">Articles</p>
            <table>
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Added At</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Hello article</td>
                        <td>Yesterday</td>
                        <td>
                            <button
                                class="border border-solid border-black px-4 py-1 rounded"
                            ><i class="bi bi-box-arrow-up-right"></i></button>
                        </td>
                        <td>
                            <button
                                class="border border-solid border-black px-4 py-1 rounded"
                            >View entry</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="border border-solid border-black rounded flex-1">
            <p class="text-center underline">Websites</p>
            <table>
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Added At</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Hello article</td>
                        <td>Yesterday</td>
                        <td>
                            <button
                                class="border border-solid border-black px-4 py-1 rounded"
                            ><i class="bi bi-box-arrow-up-right"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="border border-solid border-black rounded flex-1">
            <p class="text-center underline">Youtubes</p>
            <table>
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Added At</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Hello article</td>
                        <td>Yesterday</td>
                        <td>
                            <button
                                class="border border-solid border-black px-4 py-1 rounded"
                            ><i class="bi bi-box-arrow-up-right"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section>
        <p class="font-bold">Workspace members</p>
        <table>
            <thead>
                <tr class="border-b-2 border-t-2 border-solid border-gray-600">
                    <td>No.</td>
                    <td>Username</td>
                    <td>Role</td>
                    <td>Status</td>
                    <td>Birthday</td>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < memberCount; i++)
                {
                    <tr class="border-b border-solid border-gray-400 py-2">
                        <td>@(i + 1)</td>
                        <td>@Model.Members.ElementAt(i).Username</td>
                        <td>@Model.Members.ElementAt(i).Role</td>
                        <td>@Model.Members.ElementAt(i).Status</td>
                        <td>@Model.Members.ElementAt(i).DateOfBirth</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</article>

<div>
    @if(Model.WorkspaceOwnerId.Equals(userId, StringComparison.OrdinalIgnoreCase))
    {
        <span>
            @Html.ActionLink("Edit", "Edit", new { id = Model.WorkspaceId }) |
        </span>
    }
    <a class="px-4 py-2 bg-black text-white rounded" asp-action="Index">Back to List</a>
</div>
