@using Microsoft.AspNetCore.Http
@using Linker.Mvc.Models
@using System.Security.Claims
@model WorkspaceDetailsViewModel
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Workspace details";
    var memberCount = Model.Members.Count();
    var httpContext = httpContextAccessor.HttpContext;
    var isLoggedIn = httpContext?.User.Identity?.IsAuthenticated ?? false;
    var userId = httpContext?.User.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? string.Empty;
    var isWorkspaceOwner = Model.WorkspaceOwnerId.Equals(userId, StringComparison.OrdinalIgnoreCase);
}

<partial name="_Notification" />

<article class="mb-10" id="@Html.DisplayFor(model => model.WorkspaceId)">
    <header class="mb-2">
        <p class="uppercase tracking-wide font-bold text-sm text-gray-300">
            @@@Html.DisplayFor(model => model.WorkspaceHandle)
        </p>

        <h1 class="text-2xl font-bold block">
            @Html.DisplayFor(model => model.WorkspaceName)
        </h1>
    </header>
    <div class="flex gap-4 items-center">
        <div><i class="bi bi-people-fill"></i> @memberCount</div>
        <div><span class="text-xs text-gray-500">Created by</span> @Model.WorkspaceOwnerUsername</div>
        <div><button onclick="openInviteUserDialog()" title="Add members"><i class="bi bi-person-plus-fill"></i></button></div>
    </div>
    <div class="mb-10">
        <p class="text-gray-700">@Html.DisplayFor(model => model.WorkspaceDescription)</p>
    </div>

    <section class="flex flex-col gap-4 mb-5">
        <div>
            <div
                class="flex gap-4 items-center"
            >
                <p class="text-xl font-bold block">Articles</p>
                @if (isWorkspaceOwner)
                {
                    <button
                        class="block border border-solid border-black rounded"
                        onclick="openArticleDialog()"
                    >
                        Add link
                    </button>
                }
            </div>
            @if (Model.Articles.Any())
            {
                <ul>
                    @foreach (var (article, index) in Model.Articles.Select((a, i) => (a, i)))
                    {
                        <li class="flex gap-4 mb-1">
                            <a
                                href="@article.Url"
                                target="_blank"
                                class="block"
                            >
                                @(index + 1). @article.Title <i class="bi bi-box-arrow-up-right"></i>
                            </a>
                            <a
                                asp-action="Details"
                                asp-controller="Article"
                                asp-route-id="@article.Id"
                                class="block border border-solid border-black rounded px-1 text-sm"
                            >
                                Details
                            </a>
                            @if (isWorkspaceOwner)
                            {
                                <a
                                    class="block border border-solid border-black rounded px-1 text-sm"
                                    asp-action="RemoveArticle"
                                    asp-route-workspaceId="@Model.WorkspaceId"
                                    asp-route-articleId="@article.Id"
                                    onclick="return confirm('Are you sure to remove from workspace?')"
                                >
                                    Delete
                                </a>
                            }
                        </li>
                    }
                </ul>
            }
            else
            {
                <p class="italic">There are no articles in the workspace.</p>
            }
        </div>
        <div>
            <div
                class="flex gap-4 items-center"
            >
                <p class="text-xl font-bold block">Websites</p>
                @if (isWorkspaceOwner)
                {
                    <button
                        class="block border border-solid border-black rounded"
                        onclick="openWebsiteDialog()"
                    >
                        Add link
                    </button>
                }
            </div>
            @if (Model.Websites.Any())
            {
                <ul>
                    @foreach (var (website, index) in Model.Websites.Select((a, i) => (a, i)))
                    {
                        <li class="flex gap-4 mb-1">
                            <a
                                href="@website.Url"
                                target="_blank"
                                class="block"
                            >
                                @(index + 1). @website.Name <i class="bi bi-box-arrow-up-right"></i>
                            </a>
                            <a
                                asp-action="Details"
                                asp-controller="Website"
                                asp-route-id="@website.Id"
                                class="block border border-solid border-black rounded px-1 text-sm"
                            >
                                Details
                            </a>
                            @if (isWorkspaceOwner)
                            {
                                <a
                                    class="block border border-solid border-black rounded px-1 text-sm"
                                    asp-action="RemoveWebsite"
                                    asp-route-workspaceId="@Model.WorkspaceId"
                                    asp-route-websiteId="@website.Id"
                                    onclick="return confirm('Are you sure to remove from workspace?')"
                                >
                                    Delete
                                </a>
                            }
                        </li>
                    }
                </ul>
            }
            else
            {
                <p class="italic">There are no websites in the workspace.</p>
            }
        </div>
        <div>
            <div
                class="flex gap-4 items-center"
            >
                <p class="text-xl font-bold block">Youtubes</p>
                @if (isWorkspaceOwner)
                {
                    <button
                        class="block border border-solid border-black rounded"
                        onclick="openYoutubeDialog()"
                    >
                        Add link
                    </button>
                }
            </div>
            @if (Model.Youtubes.Any())
            {
                <ul>
                    @foreach (var (youtube, index) in Model.Youtubes.Select((a, i) => (a, i)))
                    {
                        <li class="flex gap-4 mb-1">
                            <a
                                href="@youtube.Url"
                                target="_blank"
                                class="block"
                            >
                                @(index + 1). @youtube.Name <i class="bi bi-box-arrow-up-right"></i>
                            </a>
                            <a
                                asp-action="Details"
                                asp-controller="Youtube"
                                asp-route-id="@youtube.Id"
                                class="block border border-solid border-black rounded px-1 text-sm"
                            >
                                Details
                            </a>
                            @if (isWorkspaceOwner)
                            {
                                <a
                                    class="block border border-solid border-black rounded px-1 text-sm"
                                    asp-action="RemoveYoutube"
                                    asp-route-workspaceId="@Model.WorkspaceId"
                                    asp-route-youtubeId="@youtube.Id"
                                    onclick="return confirm('Are you sure to remove from workspace?')"
                                >
                                    Delete
                                </a>
                            }
                        </li>
                    }
                </ul>
            }
            else
            {
                <p class="italic">There are no youtube in the workspace.</p>
            }
        </div>
    </section>

    <section>
        <p class="font-bold">Workspace members</p>
        <table>
            <thead>
                <tr class="border-b-2 border-t-2 border-solid border-gray-600">
                    <td>No.</td>
                    <td>Username</td>
                    <td>Role</td>
                    <td>Status</td>
                    <td>Birthday</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < memberCount; i++)
                {
                    <tr class="border-b border-solid border-gray-400 py-2">
                        <td>@(i + 1)</td>
                        <td>@Model.Members.ElementAt(i).Username</td>
                        <td>@Model.Members.ElementAt(i).Role</td>
                        <td>@Model.Members.ElementAt(i).Status</td>
                        <td>@Model.Members.ElementAt(i).DateOfBirth</td>
                        <td>
                            @{
                                var isNotSelf = !Model.Members.ElementAt(i).Id.Equals(userId, StringComparison.OrdinalIgnoreCase);
                            }
                            @if (isWorkspaceOwner && isNotSelf)
                            {
                                <form method="post" asp-action="Kick" onsubmit="return confirm('Are you sure to kick this people?')">
                                    <input hidden name="workspaceId" value="@Model.WorkspaceId" />
                                    <input hidden name="userId" value="@Model.Members.ElementAt(i).Id" />
                                    <button
                                        class="block border border-solid border-black rounded px-1 text-sm"
                                        type="submit"
                                    >
                                        Kick
                                    </button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</article>

<div>
    @if(Model.WorkspaceOwnerId.Equals(userId, StringComparison.OrdinalIgnoreCase))
    {
        <span>
            @Html.ActionLink("Edit", "Edit", new { id = Model.WorkspaceId }) |
        </span>
    }
    <a class="px-4 py-2 bg-black text-white rounded" asp-action="Index">Back to List</a>
</div>

<dialog id="addw-article-popup" class="bg-white border-solid border border-black rounded p-5 w-[500px] shadow-lg">
</dialog>

<dialog id="addw-website-popup" class="bg-white border-solid border border-black rounded p-5 w-[500px] shadow-lg"></dialog>

<dialog id="addw-youtube-popup" class="bg-white border-solid border border-black rounded p-5 w-[500px] shadow-lg"></dialog>

<dialog
    id="addw-user-popup"
    class="bg-white border-solid border border-black rounded p-5 w-[500px] shadow-lg"
></dialog>

@section Scripts {
    <partial name="_SomeScriptsPartial" />
    <script type="text/javascript">
        function toggleArticleDialog() {
            $("dialog#addw-article-popup").toggle();
        }

        function toggleWebsiteDialog() {
            $("dialog#addw-website-popup").toggle();
        }

        function toggleYoutubeDialog() {
            $("dialog#addw-youtube-popup").toggle();
        }

        function toggleInviteUserDialog() {
            $("dialog#addw-user-popup").toggle();
        }

        function openInviteUserDialog() {
            var url = "@Url.Action("InviteUser", "Workspace", new { WorkspaceId = Model.WorkspaceId })";
            $("dialog#addw-user-popup").toggle().load(url);
        }

        function openWebsiteDialog() {
            var url = "@Url.Action("AddWebsite", "Workspace", new { WorkspaceId = Model.WorkspaceId })";
            $("dialog#addw-website-popup").toggle().load(url);
        }

        function openYoutubeDialog() {
            var url = "@Url.Action("AddYoutube", "Workspace", new { WorkspaceId = Model.WorkspaceId })";
            $("dialog#addw-youtube-popup").toggle().load(url);
        }

        function openArticleDialog() {
            var url = "@Url.Action("AddArticle", "Workspace", new { WorkspaceId = Model.WorkspaceId })";
            $("dialog#addw-article-popup").toggle().load(url);
        }
    </script>
}
