@using Microsoft.AspNetCore.Http
@using Linker.Mvc.Models
@using System.Security.Claims
@inject IHttpContextAccessor httpContextAccessor
@model IEnumerable<WorkspaceIndexViewModel>
@{
    ViewData["Title"] = "Explore Workspace";
    var httpContext = httpContextAccessor.HttpContext;
    var isLoggedIn = httpContext?.User.Identity?.IsAuthenticated ?? false;
    var userId = httpContext?.User.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? string.Empty;
}

<partial name="_Notification" />

<div class="flex mb-4 gap-4">
    <a class="block px-4 py-2 bg-black text-white rounded" asp-controller="Workspace" asp-action="Create">Create a new workspace</a>
    <button onclick="toggleDialog(); focusWorkspaceInput()" class="block px-4 py-2 bg-black text-white rounded" asp-controller="Workspace" asp-action="Join">Join</button>
</div>

@if (Model.Count() > 0)
{
   <table>
        <thead>
            <tr class="border-b-2 border-t-2 border-solid border-gray-600">
                <td>Name</td>
                <td>Handle</td>
                <td>Description</td>
                <td>Members</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>    
        </thead>
        <tbody>
            @foreach (var workspace in Model)
            {
                <tr class="border-b border-solid border-gray-400 py-2">
                    <td>@workspace.Name</td>
                    <td>@@@workspace.Handle</td>
                    <td>@workspace.Description</td>
                    <td>@workspace.MemberCounts</td>
                    <td>
                        <a
                            class="border rounded border-solid border-gray-400 block px-4 py-2 hover:bg-gray-100 transition-colors duration-200"
                            asp-action="Details"
                            asp-route-id="@workspace.Id"
                        >
                            Details
                        </a>
                    </td>
                    <td>
                        @if (workspace.OwnerId.Equals(userId, StringComparison.OrdinalIgnoreCase))
                        {
                            <form method="post" asp-action="Delete" asp-route-id="@workspace.Id">
                                <button
                                    class="border rounded border-solid border-gray-400 block px-4 py-2 hover:bg-gray-100 transition-colors duration-200"
                                    onclick="return confirm('Are you sure to delete this workspace?')"
                                >
                                    Delete
                                </button>
                            </form>
                        }
                    </td>
                    <td>
                        @{
                            var joinFormId = "join-" + workspace.Id;
                        }
                        <form id="@joinFormId" method="get" asp-action="Join" asp-route-id="@workspace.Id" onsubmit="handleJoinSubmission(event, '@workspace.Id')">
                            <input name="workspaceId" hidden value="@workspace.Id" />
                            <button>Join</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table> 
}
else
{
    <div class="p-4 border border-black border-solid rounded">
        You have no workspaces yet. Create or Join one!
    </div>
}

<dialog class="bg-white border-solid border border-black rounded p-5 w-[500px] shadow-lg">
    <p class="text-2xl font-semibold text-center mb-4">Join a workspace</p>
    <div>
        <form method="post" asp-action="Join" autocomplete="off" spellcheck="false">
            <div>
                <input
                    name="workspaceId"
                    placeholder="Workspace Id"
                    class="block p-4 outline-none w-full"
                />
            </div>
            <div class="flex gap-4 justify-end">
                <button type="submit" class="px-4 py-2 bg-black text-white rounded">Join</button>
                <button
                    type="button"
                    class="px-4 py-2 border border-solid border-black rounded"
                    onclick="toggleDialog()"
                >
                    Cancel
                </button>
            </div>
        </form>
    </div>
</dialog>

@section Scripts {
    <partial name="_SomeScriptsPartial" />
    <script>
        function toggleDialog() {
            $("dialog").toggle();
        }

        function focusWorkspaceInput() {
            $('[name="workspaceId"]').focus();
        }

        function handleJoinSubmission(event, workspaceId) {
            event.preventDefault();

            console.log("Trying to join " + workspaceId);

            var formId = 'join-' + workspaceId;
            var form = document.getElementById(formId);

            form.submit();
        }
    </script>
}
