@using Microsoft.AspNetCore.Http
@using Linker.Core.V2.Models
@using System.Security.Claims
@model PlaylistDetailsViewModel
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = Model.Playlist.Name;
    var httpContext = httpContextAccessor.HttpContext;
    var isLoggedIn = httpContext?.User.Identity?.IsAuthenticated ?? false;
    var userId = httpContext?.User.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? string.Empty;
    var isPlaylistOwner = Model.Playlist.OwnerId.Equals(userId, StringComparison.OrdinalIgnoreCase);
}

<partial name="_Notification" />

<article class="mb-10" id="@Html.DisplayFor(model => model.Playlist.Id)">
    <header class="mb-2">
        <h1 class="text-2xl font-bold block">
            @Html.DisplayFor(model => model.Playlist.Name)
        </h1>
    </header>
    <div class="flex gap-4 mb-4">
        <div><span>By</span> @Html.DisplayFor(model => model.Playlist.OwnerId)</div>
        <div>Created at <time>@Html.DisplayFor(model => model.Playlist.CreatedAt)</time></div>
        <div>Modified at <time>@Html.DisplayFor(model => model.Playlist.ModifiedAt)</time></div>
        <div class="bg-white border border-solid border-black text-xs uppercase rounded flex items-center justify-center px-1">
            <span class="block">@Html.DisplayFor(model => model.Playlist.Visibility)</span>
        </div>
    </div>
    <div>
        <p class="text-gray-700">@Html.DisplayFor(model => model.Playlist.Description)</p>
    </div>
</article>

<ul>
    @foreach (var link in Model.Links) {
        <li>@link.Name</li>
    }
</ul>

@if (isPlaylistOwner)
{
    <button
        class="block"
        onclick="openLinkDialog()"
        title="Add new link"
    >
        <i class="bi bi-plus-circle"></i>
    </button>
}

<dialog
    id="addw-link-popup"
    class="bg-white border-solid border border-black rounded p-5 w-[500px] shadow-lg fixed inset-1/2 transform -translate-x-1/2 -translate-y-1/2"
></dialog>

@section Scripts {
    <script type="text/javascript">
        function openLinkDialog() {
            var url = "@Url.Action("AddLink", "Playlist", new { PlaylistId = Model.Playlist.Id })";
            $("dialog#addw-link-popup").toggle().load(url);
        }
    </script>
}
