@using Microsoft.AspNetCore.Http
@using Linker.Core.Models
@using System.Security.Claims
@model Youtube
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Details";
    var httpContext = httpContextAccessor.HttpContext;
    var isLoggedIn = httpContext?.User.Identity?.IsAuthenticated ?? false;
    var userId = httpContext?.User.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? string.Empty;
}

<article class="mb-10" id="@Html.DisplayFor(model => model.Id)">
    <header class="mb-2">
        <p class="uppercase tracking-wide font-bold text-sm text-gray-300">
            @Html.DisplayFor(model => model.Category)
        </p>

        <a
            class="flex gap-2 items-center"
            href="@Html.DisplayFor(model => model.Url)"
            target="_blank"
        >
            <h1 class="text-2xl font-bold block">
                @Html.DisplayFor(model => model.Name)
            </h1>
            <div>
                <i class="bi bi-box-arrow-up-right"></i>
            </div>
        </a>
    </header>
    <div class="flex gap-4 mb-4">
        <div><span>By</span> @Html.DisplayFor(model => model.Youtuber)</div>
        <div>@Html.DisplayFor(model => model.Country)</div>
        <div>Linked at <time>@Html.DisplayFor(model => model.CreatedAt)</time></div>
        <div class="bg-white border border-solid border-black text-xs uppercase rounded flex items-center justify-center px-1">
            <span class="block">@Html.DisplayFor(model => model.Language)</span>
        </div>
        <div><i class="bi bi-explicit"></i> @Html.DisplayFor(model => model.Rating)</div>
    </div>
    <div>
        <p class="text-gray-700">@Html.DisplayFor(model => model.Description)</p>
    </div>
</article>

<div>
    @if (Model.CreatedBy.Equals(userId, StringComparison.OrdinalIgnoreCase))
    {
        <span>@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |</span>
    }
    <a class="px-4 py-2 bg-black text-white rounded" asp-action="Index">Back to List</a>
</div>
