@using Microsoft.AspNetCore.Http
@using Linker.Core.Models
@using System.Security.Claims
@model IEnumerable<Youtube>
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "All Youtube Channels";
    var httpContext = httpContextAccessor.HttpContext;
    var isLoggedIn = httpContext?.User.Identity?.IsAuthenticated ?? false;
    var userId = httpContext?.User.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? string.Empty;
}

<partial name="_Notification" />

<div class="flex mb-4">
    <a class="block px-4 py-2 bg-black text-white rounded" asp-controller="Youtube" asp-action="Create">Create a new youtube</a>
</div>

@if (Model.Count() > 0)
{
    <table>
        <thead>
            <tr class="border-b-2 border-t-2 border-solid border-gray-600">
                <td>Name</td>
                <td>Url</td>
                <td>Description</td>
                <td>Author</td>
                <td>Year</td>
                <td></td>
                <td></td>
            </tr>    
        </thead>
        <tbody>
            @foreach (var youtube in Model)
            {
                <tr class="border-b border-solid border-gray-400 py-2">
                    <td>@youtube.Name</td>
                    <td class="max-w-[300px] truncate ...">@youtube.Url</td>
                    <td>@youtube.Description</td>
                    <td>@youtube.Youtuber</td>
                    <td>@youtube.Category</td>
                    <td>
                        <a
                            class="border rounded border-solid border-gray-400 block px-4 py-2 hover:bg-gray-100 transition-colors duration-200"
                            asp-controller="Youtube"
                            asp-action="Details"
                            asp-route-id="@youtube.Id"
                        >
                            Details
                        </a>
                    </td>
                    <td>
                        @if (youtube.CreatedBy.Equals(userId, StringComparison.OrdinalIgnoreCase))
                        {
                            <form method="post" asp-action="Delete" asp-route-id="@youtube.Id">
                                <button
                                    class="border rounded border-solid border-gray-400 block px-4 py-2 hover:bg-gray-100 transition-colors duration-200"
                                    onclick="return confirm('Are you sure to delete this youtube?')"
                                >
                                    Delete
                                </button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="p-4 border border-black border-solid rounded">
        There are no Youtube Channels.
    </div> 
}

